## .gitignore

# nodejs -- installed local modules
node_modules/

# greenscreen -- files that shouldn't be stored in gitlab
images.json
eventData.txt
eventData.json
spData.txt
spData.json

# OS junk
.DS_Store
*/DS_Store
[Tt]humbs.db

# temp files
.*.swp
