
* {
  box-sizing: border-box;
}
body {
  background-image: url("./images/template/UW_Gradient_1920x1080.png"), url("./images/template/WEI-Building-1.jpg");
  background-size: cover;
  width:100vw;
  height:100vh;
  box-sizing: border-box;
}
.container-fluid {
  padding-top:.5%;
  padding-bottom:.5%;
}
.boxes{
  padding-right:.5%;
  padding-left:.5%;
}
.room {
  white-space: nowrap;
}

.row {
  justify-content: center;
}
.topleft, .topright, .bottomleft, .bottomright {
  height: 40vh;

}
.topright>div>img, .bottomleft > div  > img {
  height: 100% !important;
}

.topleft, .topright, .bottomleft, .bottomright, .names {
  background-color: white;
  border-width: thick;
  border-color: black;
  border: 1px solid #BD2031;
    border-width: 3px;
    border-radius: .5em;
  background-color: rgba(255, 255, 255, .8);
}

.footer > div {
  padding:0;
}

#weather {
  box-sizing: border-box;
  border: 1px solid #BD2031;
  border-width: thick;
    border-width: 3px;
    border-radius: .5em;
  background-color: rgba(255, 255, 255, .8);
  text-align: center;
  padding: .5em;
}
.clock {
  height: 100%;
}

#logo {
  width:100%;
}


#employees > #emptable {
  display: none;
  position: absolute;
  height:100%
  left: 10px;
  right: 10px;
}
#events > #eventdiv {
  display: none;
  position: absolute;
  left: 10px;
  right: 10px;
  width: 95%;
  height: 90%;
}
#events {
  margin-top: 10%;
  margin-bottom:20%;
}
#eventdiv {
  padding-top:10%;
  text-align: center;
  font-size: 150%;
}
.imgs > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
div img{
  border-radius: .5em;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  object-fit:contain;
  text-align: center;

}
video{
  border-radius: 1em;
  max-width: 100%;
  max-height: 100%;

}
