
* {
  box-sizing: border-box;
}
body {
  background-image: url("./images/template/UW_Gradient_1920x1080.png"), url("./images/template/WEI-Building-1.jpg");
  background-size: cover;
  width:100vw;
  height:100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.container-fluid {
  margin-top: 1%;
  padding-top:.5%;
  padding-bottom:.5%;
}

.room {
  white-space: nowrap;
}

.row {
  justify-content: center;
}
.topleft, .topright {
  height: 30vh;
}
.bottomleft, .bottomright {
  height: 45vh
}
.bottomright>div>img, .bottomleft > div  > img {
  height: 100% !important;
}

.topleft, .topright, .bottomleft, .bottomright, .names {
  background-color: white;
  border-width: thick;
  border-color: black;
  border: 1px solid #BD2031;
    border-width: 3px;
    border-radius: .5em;
  background-color: rgba(255, 255, 255, .8);
}
#weather {
  box-sizing: border-box;
  border: 1px solid #BD2031;
  border-width: thick;
    border-width: 3px;
    border-radius: .5em;
  background-color: rgba(255, 255, 255, .8);
  text-align: center;
  padding: 3%;
}
.weatherwidget-io {
  height: 20vh;
}

.clock {
  height: 100%;
}

#employees > #emptable {
  display: none;
  position: absolute;
  max-height:80%;
  left: 0px;
  right: 0px;
  font-size: 125%;
}
#eventshead {
  margin-top:4%
}
#events > #eventdiv {
  display: none;
  position: absolute;
  left: 10px;
  right: 10px;
  width: 95%;
  height: 90%;
}
#events {
  margin-top: 10%;
  margin-bottom:10%;
}
#eventdiv {

  text-align: center;
  font-size: 150%;
}
.imgs > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
div img{
  border-radius: .5em;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  object-fit:contain;
  text-align: center;
}
video{
  border-radius: 1em;
  max-width: 100%;
  max-height: 100%;

}
